<!doctype html>

<html>
  <head>
    <title>{{.title}}</title>
    <script src="/dist/app.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsoneditor/9.10.2/jsoneditor.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jsoneditor/9.10.2/jsoneditor.min.css" rel="stylesheet" type="text/css">

    <link href="/dist/app.css" rel="stylesheet" />
    <link href="/dist/main.css" rel="stylesheet" />
  </head>

    <body class="container pt-20">
        {{template "content" .}}
        <hr>
    </body>
</html>
