{{ define "content" }}
 {{ if .users }}
    <table class="w-full text-left">
      <thead>
        <tr>
          <th scope="col" class="px-6"></th>
          <th scope="col" class="px-6"></th>
        </tr>
      </thead>
      <tbody id="search-results">
        {{range .users}}
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
          <th
              scope="row"
              class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
              >
              {{ .UserID }}
          </th>
            <td class="px-6 py-4 underline">
              <a href="/u/{{.UserID}}">Visa</button>
            </td>
        </tr>
        {{ end }}
      </tbody>
    </table>
  {{ else }}
    <div class="mt-4">
      <p class="text-red-500">No users found</p>
    </div>
  {{ end }}

{{ end }}
