{{define "content"}}
  <div class="text-blue pb-6">
    <a href="https://github.com/davidklsn/booli-api-go-echo" target="_blank" >github.com/davidklsn/booli-api-go-echo</a>
  </div>
  <a class="inline-block bg-blue text-white font-bold py-2 px-4 rounded mb-4" href="/">
    Hem
  </a>
  <div class="w-full mt-6">
    <section>
      <div class="bg-green rounded text-white p-2 inline mb-6 block">POST: /users/:id</div>
      <div class="block mt-3">
        <p class="bg-gray inline px-2 py-1">Body</p>
        <pre
            id="jsonView"
            class="json-container p-3 mt-[.5px]" 
            json='{"residence":{"id":2353,"streetAddress":"Runnerydsgatan21","city":"Nässjö","livingResidence":true},"info":{"occupation":"employed"}}'
            ></pre>

      </div>
    </section>
  </div>
{{end}}
