{{define "content"}}
<div class="text-blue pb-6">
  <a href="https://github.com/davidklsn/booli-api-go-echo" target="_blank" >github.com/davidklsn/booli-api-go-echo</a>
</div>
<a class="inline-block bg-blue text-white font-bold py-2 px-4 rounded mb-4" href="/docs">
  docs
</a>
<div>
  <div class="flex items-center">
    <input class="form-control w-[200px] px-3 py-2" type="search"
                                          name="id" placeholder="Search with userIds.."
                                                    hx-get="/u/search"
                                                    hx-vals="{id: value}"
                                                    hx-trigger="keyup changed delay:500ms, search"
                                                    hx-indicator="#spinner"
                                                    hx-target="#search-results" />

    <img  id="spinner" class="htmx-indicator w-8" src="/img/loader.svg"/>
  </div>
  <table class="w-full text-left" id="search-results">
    <thead>
      <tr>
        <th scope="col" class="px-6"></th>
        <th scope="col" class="px-6"></th>
      </tr>
    </thead>
    <tbody>
      {{range .users}}
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
        <th
            scope="row"
            class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
            >
            {{ .UserID }}
        </th>
          <td class="px-6 py-4 underline">
            <a href="/u/{{.UserID}}">Visa</button>
          </td>
      </tr>
      {{ end }}
    </tbody>
  </table>
</div>
{{ end }}
