{{define "content"}}
  <div class="text-blue pb-6">
    <a href="https://github.com/davidklsn/booli-api-go-echo" target="_blank"
      >github.com/davidklsn/booli-api-go-echo</a
    >
  </div>
  <a
    class="inline-block bg-blue text-white font-bold py-2 px-4 rounded mb-4"
    href="/"
  >
    Hem
  </a>
  <div>
    <h1 class="bold mb-2">Info om användare: {{ .userID }}</h1>
    <pre
      id="jsonView"
      class="json-container p-3 rounded"
      json="{{ .userData }}"
    ></pre>
  </div>
{{end}}
